*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.hd{
    padding-left: 10px;
}
.now{
    padding-left: 15px;
}
.thumbnail{
    border: 0px;
}
.ineer{
    background-image: url("img/561935.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.conten{
    text-align: center;
}
